#slideshow {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 260px;
    height: 360px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255,0,0,0.5);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}
